/* General container styling */
.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
}

/* Headings */
.container h2 {
  font-size: 30px;
  color: #222;
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  margin-bottom: 10px;
  border-bottom-style: groove;
  border-bottom-right-radius: 15%;
  border-bottom-style:5px solid #000000a6; ;
}

.container h3 {
  font-size: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0e7ce9;
}

.container p {
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}

strong {
  color: #444;
}

/* Rewards section */
.rewards {
  margin-top: 30px;
  width: 85%;
  padding: 15px;
  background-color: #d9eef3;
  border-left: 8px solid #136acd;
  border-radius: 20%;
}

.rewards h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0077ff;
}

.rewards ul {
  list-style-type: none;
  padding-left: 0;
}

.rewards li {
  font-size: 16px;
  padding: 6px 0;
}

/* Leaderboard button */
.leaderboard-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  background-color: #21303eb2;
  }

.leaderboard-btn:hover {
  animation:btn-leaderboard 1s ease-in-out;

}

@keyframes btn-leaderboard {
  from{
    color: white;
    transform: scale(1);
  }
  to{
    background-color: rgba(92, 133, 167, 0.793);
    color: black;
    transform: scale(1.2);
  }
}
